<header class="header">
        <nav class="navbar">
            <div class="nav-brand">
                <i class="fas fa-utensils"></i>
                <span>DeliciousRecipes</span>
            </div>
            <ul class="nav-menu">
                <li><a href="#home" (click)="scrollTo('inicio')">Início</a></li>
                <li><a href="#recipes" (click)="scrollTo('recipes')">Receitas</a></li>
                <li><a href="#categories" (click)="scrollTo('categories')">Categorias</a></li>
            </ul>
            <div class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    </header>